:root 
{
	--primary-color: #19D233;
	--primary-dark-color: #009F05;
	--primary-light-color: #83D67A;
	--primary-lighter-color: #cae1f1;
	--primary-lightest-color: #E9F8EA;
	
    --page-foreground-color: #30502C;
    --page-secondary-foreground-color: #677E68;
}